body {
  background-color: #298bae;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  margin: 2vh;
  background-color: #cf9217;
  border: none;
  border-radius: 5px;
}

.header-logo {
  border: none;
  cursor: pointer;
}

.header-logo-img {
  width: 8vh;
  height: 8vh;
  border-radius: 5px;
}

.header-register-button {
  position: absolute;
  top: 4vh;
  right: 20vh;
  border-radius: 5px;
}

.header-logout-button,
.header-login-button,
.header-register-button {
  background-color: #ad7401;
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  text-decoration: none;
  font-size: 3.5vh;
  color: wheat;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}
.header-logout-button:hover,
.header-login-button:hover,
.header-register-button:hover {
  background-color: rgb(40, 77, 164);
}

.header-admin-button {
  /*it is not a button*/
  background-color: #ad7401;
  padding: 2vh;
  font-size: 3.5vh;
  color: wheat;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 0.5vh;
  right: 21.5vh;
  cursor: default;
  border-radius: 25px;
}

.navbar-container {
  justify-content: space-between;
  padding: 1.5vh;
  margin: 2vh;
  background-color: #179ecf;
  border: none;
  border-radius: 5px;
}

.navlink-label {
  font-size: 3.5vh;
  text-decoration: none;
  padding: 1.5vh;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  color: wheat;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
  margin-right: 1vh;
}
.navlink-label:hover {
  background-color: rgb(40, 77, 164);
}
.navlink-selected {
  background-color: #cf9217;
}

.solar-info-table {
  width: 98%;
  border-collapse: collapse;
  margin: 2vh;
}

.solar-info-table-label th {
  color: cadetblue;
  background-color: wheat;
  border: 1px solid #cf9217;
  padding: 1vh;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.solar-info-table td {
  border: 1px solid #cf9217;
  padding: 1vh;
  text-align: left;
  color: rgb(66, 50, 205);
  font-family: "Roboto", sans-serif;
}

.solar-info-table tbody tr:nth-child(even) {
  background-color: #9fcada;
}
.solar-info-table tbody tr:nth-child(odd) {
  background-color: #ccb076;
}

.search-solar-info {
  display: flex;
  justify-content: space-between;
  padding: 2vh;
  margin: 2vh;
  background-color: #179ecf;
  border: none;
  border-radius: 5px;
  align-items: center;
}

.solar-info-list-msg,
.error-msg,
.error-msg-time {
  color: #9e0f0f;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-left: 2vh;
}
.error-msg,
.error-msg-time {
  margin: -1vh;
}

.message-login.error,
.message-register.error {
  color: #9e0f0f;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-left: 2vh;
  margin: -1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.message-login.success,
.message-register.success {
  color: #28c10d;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  padding-left: 2vh;
  margin: -1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.solar-info-title-warning {
  color: #9e0f0f;
  margin: 2vh;
  font-family: "Roboto", sans-serif;
}

.solar-info-list-title,
.solar-info-add-title,
.login-page-title,
.register-page-title,
.register-msg,
.login-msg {
  color: aqua;
  font-family: "Roboto", sans-serif;
  margin: 2vh;
}

.register-msg,
.login-msg {
  margin: 1vh;
}

.solar-info-add-form {
  flex-direction: column;
  margin: 1vh;
  width: 60%;
}

.form-label {
  font-size: 3.5vh;
  font-family: "Roboto", sans-serif;
  color: wheat;
  margin: 1vh;
}

.form-input {
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  padding: 1vh;
}

.form-input:focus {
  outline: none;
}

.form-btn,
.form-add-btn,
.form-login-btn,
.form-register-btn {
  font-size: 3.5vh;
  font-family: "Roboto", sans-serif;
  color: wheat;
  background-color: #cf9217;
  border: none;
  cursor: pointer;
  padding: 1vh;
  border-radius: 5px;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  transition: background-color 0.2s ease-in-out;
  margin: 1vh;
}
.form-add-btn {
  width: 30%;
}

.form-btn:hover,
.form-add-btn:hover,
.form-login-btn:hover,
.form-register-btn:hover {
  background-color: rgb(40, 77, 164);
}

.register-link,
.login-link {
  color: #cf9217;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.register-link:hover,
.login-link:hover {
  color: rgb(40, 77, 164);
}

.sunrise-label,
.sunset-label {
  margin: 1vh;
  color: wheat;
  font-family: "Roboto", sans-serif;
  font-size: 3.5vh;
}

.time-group {
  display: flex;
  align-items: center;
}

.time-group .am-pm-select {
  margin-left: 1vh;
}
